<section class="container shadow-lg p-5">
<h1 class="text-center">Deals</h1>
  <%= link_to 'Go To Cart', cart_path, class: "btn btn-dark text-justify rounded-lg" %>

<hr class="border border-info">
<div class="row">
<div class="col">

  <% @deals.each do |deal| %>
 <% if deal.created_at > Time.zone.now - 1.days  %>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4 p-5 pr-5">
     

      <% if deal.image.variable? %>
     
      <%= image_tag deal.image, width: 170, height: 170 %>
  
      <% elsif deal.image.image? %>
      <%= image_tag deal.image, width: 170, height: 170 %>
      
      <% elsif deal.image.previewable? %>

       <%= image_tag deal.image, width: 170, height: 170 %>
    
    <% else %>
    <%= deal.image.filename %>

  <%end%>

    </div>
    <div class="col-md-8 pl-5">
      <div class="card-body">
        <h5 class="card-title text-info"><%= deal.title %></h5>
        <p class="card-text">
       Description: <%= deal.desc %><br>
        Price: <%= deal.price %><br>
        <%= link_to 'More Info', deal %>
        </p>
        <p class="card-text"><small class="text-muted">
        <p><span class="text-danger">Discount price </span><%= deal.discount_price %></p>
        Avail: <%= deal.quantity %><br>
        <%= time_ago_in_words(deal.created_at) %> ago
        </small></p>
        <section class="text-primary pr-5">
          <%= form_for @order_item, remote: true  do |f|%>
          <%= f.hidden_field :deal_id, value: deal.id %>
          <%= f.number_field :quantity, value: 1, min:  1, max: 1%>
          <hr>
          <%= f.submit "Add to Card ", class: "btn btn-block btn-success" %>
          <% end %>
          </section>
          <hr class="border border-info">
        <%else%>
               <div class=" container text-center">No deal for Now</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
<div class="col p-5 ">
<div id="cart">
  <%= render 'carts/cart'%><br>
  <br>
</div>
</div>
</div>

</section>
