<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @deal.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>

<p>
  <strong>Discount price:</strong>
  <%= @deal.discount_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @deal.quantity %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
